@font-face {
    font-family: Poiret; /* Имя шрифта */
    src: url(../fonts/Poiret.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Quicksand; /* Имя шрифта */
    src: url(../fonts/Quicksand.ttf); /* Путь к файлу со шрифтом */
}